:root {
  --main_background: #e97878;
  --global_bg: #c7ffd8;
  --primary_card_text: #ffee93;
  --secondary_card_text: #11698e;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global_bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flashCard {
  display: grid;
  grid-template-columns: 100px auto auto auto;
  height: 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  text-align: center;
  border: 5px;
  padding-top: 10px;
}

.fullCard {
  background-color: var(--main_background);
  border: 5px solid var(--main_background);
  color: var(--primary_card_text);
  border-radius: 5px;
  box-shadow: grey;
  text-align: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.toggleAll {
  grid-column: 2 / 5;
  background-color: var(--main_background);
  border-radius: 5px;
  box-shadow: grey;
  position: relative;
  justify-items: center;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
}
.toggleAll button {
  background-color: var(--global_bg);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}
.cardAnswer {
  display: none;
  color: var(--secondary_card_text);
}
.cardAnswer.toggled {
  display: unset;
}

.addContainer {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  text-align: center;
  border: 5px;
  padding-top: 10px;
}
.addCard {
  background-color: var(--main_background);
  justify-items: center;
  align-items: center;
  border: 5px solid var(--main_background);
  color: var(--primary_card_text);
  border-radius: 5px;
  box-shadow: grey;
  text-align: center;
  cursor: pointer;
  height: auto;
  width: 200px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.navbar {
  background-color: var(--main_background);
  justify-items: center;
  align-items: center;
  border: 5px solid var(--main_background);
  color: var(--primary_card_text);
  border-radius: 5px;
  box-shadow: grey;
  text-align: center;
  cursor: pointer;
  height: auto;
  width: 200px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.navbar a {
  text-decoration: none;
}
.addcard_textfield {
  border-bottom: 2px solid var(--global_bg);
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: var(--primary_card_text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.nav_active {
  color: #000000;
}
.categoryBarContainer {
  grid-column: 1;
  grid-row: 1 / 10;
}
.categoryBar {
  background-color: var(--main_background);
  justify-items: center;
  align-items: center;
  border: 5px solid var(--main_background);
  color: var(--primary_card_text);
  border-radius: 5px;
  box-shadow: grey;
  text-align: center;
  cursor: pointer;
  height: auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.categoryBar a {
  text-decoration: none;
  padding: 10px;
}
